*{
    font-family: Arial;
    margin: 0;
    padding: 0;

}

body{
    min-width: 1150px;
}
header{
    width: 100%;
   
}
.navbar {
    height: 60px;
    background-color: #131921 ;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.5%;
    padding-inline: 10px;
}

#nav-left{
    width: auto;
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 100px;
    padding-inline: 6px 8px;
}
#logo{
    width: 95%;
    padding-top: 5px;

}

.border{
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align:left;
}

.border:hover {
    border: 1px solid white;
    border-radius: 4px;
}

.nav-addres{
    width: 85px;
    flex-direction: row;
    gap: 10px;
    
}
.nav-addres i{
    padding-top: 10px;
    font-size: large;  
}

.nav-addres p {
    color:#cccccc;
    font-size: 12px;
}

.nav-addres span{
    font-size: 14px;
    font-weight: 600;
}

#nav-search{
    height: 40px;
    background-color: #FEBD69;
    min-width: 300px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: #131921 3px solid ;
}


#nav-search:focus{
    border: #FF7E00 3px solid;
}
#nav-search select{
    height: 100%;
    width: 50px;
    float: left;
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 5px;
    color: #6a7070;
    background-color: #e6e4e4;
}
#nav-search select:hover{
    background-color: #D4D4D4;

}
#nav-search select:focus{
    border: #ffae00 3px solid;
    outline: none;
}
#nav-search input{
    height: 100%;
    width: 100%;
    float: left;
    padding: 10px;
    border: none;
    font-size: 1rem;
}
#nav-search input:focus{
    outline: none;
    border: #ffae00 3px solid;

}
.search-icon{
    width: 45px;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    font-size: 20px;
    color: #252626;
    background-color: #FEBD69;
    height: 100%;
    border-radius: 0 6px 6px 0;
    border: #131921 3px solid;
    border-left: white;

}
.search-icon:hover{
    background-color: #f69f2d;

}
.search-icon:active{
    border: #ffae00 3px solid ;

}

#nav-right{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
#nav-flag{
    flex-direction: row;
    width: 70px; 
}

#nav-flag span{
    height: 100%;
}
#nav-right select{
    background-color:transparent;
    color: white;
    border: none;
    font-weight: 600;
}
.account{
    width: 130px;
    flex-direction: column;     
}

#order{
    width: 80px;
    flex-direction: column;
}
#nav-right p{
    font-size: 12px;
    text-align: start;
}

#nav-right span{
    font-size:14px;
    font-weight: 600;    
}

#cart{
    width: 90px;
}
#cart img{
    width: 50px;
}

#cart span{
    padding-top: 10px;
    font-size:14px;
    font-weight: 600;
}

#panel{
    width: 100%;
    height: 40px;
    background-color:#232F3E ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
}
#panel a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    align-content: center;
}
.all{
    font-size: 14px;
    height: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
.all i{
    font-size: 20px;
    
}
#panel-left{
    padding-inline: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#panel-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#panel-right{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-inline: 10px;
    font-weight: 700;
}

.panel-item-border{
    padding: 10px;
    border: 1px #232F3E solid;
    border-radius: 4px;
}
.panel-item-border:hover{
    border-color: white;
}


.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  /*============= Main start from here ============ */

  section{
   display: flex;
   justify-content: center;
  }

  .first-section{
    width: 100%;
    height: 300px;
    background-image: url(img/61CiqVTRBEL._SX3000_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-size: 130%;
  }
  .inlinesection{
    margin-inline: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#msg-ribben{
    margin-top: 250px;
    width: 100%;
    height: 20px;
    background-color: white;
    padding: 10px 14px 10px 14px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
}

#msg-ribben a{
    text-decoration: none;
    color: #007185;
    font-weight: 500;
}

#msg-ribben a:hover ,.main-cards a:hover{
    color: #C7511F;
    text-decoration:underline;
}

/* ----------- first card section ---------- */

#first-card-section{
    height: 440px;
    background: linear-gradient(to top,#E3E6E6, #4501AE); 

    
}

.main-cards{
    width: 320px;
    height: 380px;
    background-color: white;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    

}

/* ----------- Second card section ---------- */

h2{
    font-size: 1.3rem;
}

#second-card-div, #third-card-div, #fourth-card-div, #fifth-card-div{
    background-color:#E3E6E6;
    height: 440px;

}

/** ------ four items card ----- **/

.four-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.four-items div{
    width: 155px;
    height: 150px;
    margin-block: 10px;
    overflow: hidden;
    margin-right: 15px;
}
.four-items img{
   width: 120%; 
   margin-left: -10px;

}

.main-card-item span{
    font-size: small;
   
}

.main-cards .seemore{
    margin-top: -3px;
}
.main-cards a{
    font-size: 12px;
    text-decoration: none;
    color: #007185;
    font-weight: 600;
}

/** ------ 1 item card ----- **/

.one-item {
    width: 320px;
    margin-block: 10px;
    height: 310px;
    overflow: hidden;
    margin-bottom: 20px;

}
.one-item img{
    width: 120%;
    margin-left: -25px;

    
}

.one-item .seemore {
    margin-top: 50px;
}

/** ------ second-card-div item card ----- **/

.three-by-one-card{
    padding-block: 10px;
    overflow: hidden;
}
.three-by-one-card .larg-img{
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.larg-img img{
    margin-left: -65px;
    width: 140%;
}

.three-in-oneByThree{
    width: 100%;
    height: 100px;
    margin-block: 10px;
    display: flex;
    justify-content: space-between;

}

.three-in-oneByThree div{
    width: 100px;
    height: 80px;
    overflow: hidden;
    padding-bottom: 10px;

}

.three-in-oneByThree div img{
    width: 115%;
    margin-left: -10px;
}
.three-in-oneByThree p{
    position: absolute;
}

/** ------ deals item card ----- **/


.deal-card-img{
    height: 100%;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.deal-card-img img{
    width: 100%;
}
.span-btn{
    background-color:#CC0C39;
    color: white;
    padding: 5px;
    font-size: small;
    border-radius: 2px;
}

.ltd-deal{
    color: #CC0C39;
    font-size: small;
    font-weight: 600;
}

.deal{
    margin-bottom: 10px;
}
.deal-discription{
    margin-bottom: 50px;
}


.deal-discription p{
    font-size: small;
}


/* *------------Scroll section start from here--------------* */

.scroll-section{
    height: 300px;
    width: 100%;
    background-color: #E3E6E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.scroll-div{
    width:1090px;
    background-color: rgb(255, 255, 255);
    height: 250px;
    padding: 15px;
}

.scroll-imgs{
    width:100%;
    height: 230px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
}

.scroll-imgs img{
    padding: 10px;
    padding-bottom: 10px;
}

.sp-now-div{
    box-sizing: border-box;
    display: flex;
    align-items: end;
    gap: 20px;

}
.sp-now-div span{
    font-size: 14px;
    color: #007185;
}
.sp-now-div span:hover{
    color: #CC0C39;
    text-decoration: underline;
}

.zoom-out-img{
    height: 80%;
}
/* ================ Scrollbar design =============== */

/* Width */
::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}


/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dcdada;
    border-radius:12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

